@page "/wallet"
@page "/wallet/{AccountId}"
@using MBExample.App.Shared.Models
@using MBExample.App.Components
@using MBExample.App.Components.Layouts

@*Container for wallet address text box*@
<MudContainer Class="mt-16" MaxWidth="MaxWidth.False">

	<MudGrid Spacing="2">
		<MudTextField Class="mr-4" T="string" Counter="58" MaxLength="58" HelperText="Algorand wallet addresses are 58 characters"
					  Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))"
					  Label="@TextInputLabel" Variant="Variant.Outlined" Margin="Margin.Dense" @bind-Value="@AccountId"/>
		<div class="col-10">
			<MudButton Class="mt-2" Variant="Variant.Filled" Size="Size.Small" OnClick="OnSubmit">Submit</MudButton>
		</div>
	</MudGrid>
@*
	@if (_submit)
	{
		<AssetInfoPage AccountId="@AccountId"/>
	}*@
	@if (_isBusy)
	{
		<MudSkeleton />
		<MudSkeleton SkeletonType="SkeletonType.Circle" Width="50px" Height="50px" />
		<MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="200px" Height="110px" />
	}
	else
	{
		<MudGrid Spacing="2">
			<MudItem xs="12" sm="6" md="4">
				<MudCard draggable="true" Elevation="2" Outlined="true" Height="300px" Width="300px" Class="d-flex justify-center align-center">
					<MudCardContent>
						<AssetInfoPage AccountId="@AccountId"/>
					</MudCardContent>
				</MudCard>
			</MudItem>
			<MudItem>
				<MudCard draggable="true" Elevation="2" Outlined="true" Height="300px" Width="300px" Class="d-flex justify-center align-center">
					<MudCardContent>
						@*Get verified information from TinyChart API*@
					</MudCardContent>
				</MudCard>
			</MudItem>
			<MudItem>
				<MudGrid Spacing="2">
					<MudItem xs="12">
						<MudPaper draggable="true" Elevation="2" Height="300px" Width="300px">
							<MudText Color=Color.Success>Box 3</MudText>
						</MudPaper>
					</MudItem>
					<MudItem xs="12">
						<MudPaper Elevation="2" Height="300px" Width="300px">
							<MudText Color=Color.Success>Box 4</MudText>
						</MudPaper>
					</MudItem>
				</MudGrid>
			</MudItem>
			<MudItem>
				<MudCard Elevation="2" Outlined="true" Class="d-flex oi-justify-center align-center">
					<AssetsTable Assets="_walletAssets"/>
				</MudCard>
			</MudItem>
		</MudGrid>	
	}

</MudContainer>